.inputWrapper {
  position: relative;
}

.taskNumberInput {
  max-width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;

  &:focus {
    border-bottom: 2px solid var(--indigo-200);
    cursor: text;
  }
}

.numberInputControls {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: 0;
  transition: width 0.2s ease;
  overflow: hidden;

  &Active {
    width: 25px;
  }
}

.inputCotrol {
  padding: 5px;
  border-radius: 50%;
  font-size: 16px;
  transition: 0.3s ease;
  cursor: pointer;

  &Approve {
    color: var(--green-400);
  }

  &Cancel {
    color: var(--pink-400);
  }

  &:hover {
    background-color: var(--indigo-100);
  }
}
