/* table {
	padding-left: 10px;
}

tr {
	position: relative;
} */

/* tr:hover::before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	background-color: black;
} */

/* .fa-grip-horizontal {
	opacity: 0;
	transition: 0.3s;
}

tr:hover .fa-grip-horizontal {
	opacity: 1;
	cursor: move;
} */
