.draggableWrapper {
  position: relative;
  background-color: #fff;
  margin-bottom: 10px;

  &Active {
    background-color: var(--green-200);
  }

  &Disabled {
    background-color: var(--pink-100);
  }
}

.draggableHandle {
  position: absolute;
  top: 17px;
  left: 7px;
  width: 15px;
  height: 15px;
  font-size: 14px;
}
