@import "../../styles/variables";
@import "../../styles//colors";
@import "../../styles//mixins";

.nav {
  text-align: center;
  // background-color: $nav-bgc;
  padding: $main-pad;
}

.logo {
  color: $text-light;
}
.select {
  color: $text-light;
  min-width: 150px;
  width: 100%;
}
.estimator {
  font-size: 2rem;
}
.link {
  @include link;
  display: block;
  width: 150px;
}
