@import "../../styles/variables";
@import "../../styles/colors";

.btn {
  font-family: "Roboto", serif;
  font-weight: bold;
  color: $text-medium;
  background-color: transparent;
  padding: $main-pad $btn-x;
  border: none;
  border-radius: $radius;
}
.dark {
  color: $text-light;
}
