.editableInputWrapper {
	position: relative;
	padding-right: 40px;
	flex-grow: 1;
}

.editableInput {
	width: 100%;
	padding: 5px 10px;
	font-size: 14px;
	font-family: inherit;
	border-radius: 5px;
	border: none;
	outline: none;
	transition: 0.3 ease;

	&:focus {
		border-bottom: 2px solid var(--indigo-200);
	}
}

.editableInputControls {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: flex;
}

.inputCotrolApprove {
	color: var(--green-400);
	margin-left: 5px;
}

.inputCotrolCancel {
	color: var(--pink-400);
	margin-left: 5px;
}
