.projectChat {
  position: fixed;
  top: 450px;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.statusChat {
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}

.inputChat {
  max-width: 450px;
  min-width: 450px;
}

.buttonChat {
  width: 200px;
}

.messagesArea {
  margin-top: 10px;
  padding: 10px;
  width: 450px;
  height: 150px;
  background-color: #ffffff;
  font-size: 17px;
  scroll-behavior: smooth;
  overflow: scroll;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
