@mixin link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
@mixin bold {
  font-weight: bold;
}
