.tableRowDraggable {
  background-color: white;
  margin-bottom: 10px;
}

.tableRow {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 25px;
  border-radius: 6px;
  box-shadow: 0 6px 4px -6px rgba(0, 0, 0, 0.5);

  &:hover .rowController {
    display: block;
    opacity: 1;
  }
}

.rowController {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 5px;
  width: calc(100% + 20px);
  background-color: var(--indigo-200);
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease;

  &Button {
    content: '+';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 16px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    background-color: var(--indigo-200);
    cursor: pointer;
    user-select: none;
  }

  &ButtonsWrapper {
    position: absolute;
    top: 0;
    left: -20px;
    padding: 20px 10px;
    border: 1px solid black;
    z-index: 10;
  }

  &TaskButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: var(--indigo-200);
    transition: 0.3s ease;

    &:hover {
      background-color: var(--indigo-300);
    }

    &Disabled {
      cursor: not-allowed;
      background-color: var(--surface-600);

      &:hover {
        background-color: var(--surface-600);
      }
    }
  }
}
