.tableRowDraggable {
  background-color: white;
  margin-bottom: 10px;
}

.tableRow {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 25px;
  border-radius: 6px;
  box-shadow: 0 6px 4px -6px rgba(0, 0, 0, 0.5);

  &:hover > div {
    display: block;
    opacity: 1;
  }
}
