.projectSummaryWrapper {
	position: fixed;
	top: 120px;
	right: 5%;

	@media (max-width: 1450px) {
		position: relative;
	}
}

.projectSummaryContent {
	width: 400px;
	height: 300px;
	background-color: var(--indigo-100);
}
