.inputWrapper {
  display: flex;
}

.taskTextInput {
  flex-grow: 1;
  padding: 5px 10px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;

  &:focus {
    border-bottom: 2px solid var(--indigo-200);
    cursor: text;
  }
}

.editableInputControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 0;
  transition: width 0.2s ease;

  &Active {
    width: 65px;
  }
}

.inputCotrol {
  padding: 5px;
  border-radius: 50%;
  font-size: 16px;
  transition: 0.3s ease;
  cursor: pointer;

  &Approve {
    color: var(--green-400);
  }

  &Cancel {
    color: var(--pink-400);
  }

  &:hover {
    background-color: var(--indigo-100);
  }
}
