.tableCell {
  align-self: center;
  padding: 10px;
}

.idCell {
  width: 40px;
}

.taskCell {
  flex-grow: 1;
}

.smallCell {
  width: 55px;
}

.mediumCell {
  width: 95px;
}

.largeCell {
  width: 145px;
}
