.projectHeaderWrapper {
  max-width: 900px;
  padding: 20px 25px;
  margin: 0 auto 40px 50px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 6px 4px -6px rgba(0, 0, 0, 0.5);
}

.inputRowWrapper {
  display: flex;
  margin-bottom: 20px;

  :nth-last-child() {
    justify-content: flex-end;
  }
}
