.taskButtonWrapper {
  position: relative;

  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}

.tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  transform: translateY(-50%);
  width: 80px;
  padding: 5px 10px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  color: white;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.taskButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--indigo-200);
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: var(--indigo-300);
  }

  &:disabled {
    border: none;
    cursor: not-allowed;
    background-color: var(--surface-600);
  }
}
